<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Hey this text is in HTML !</h2>

    <form action = "/submit" method = 'post'>
        <label for="datascience">Data Science</label><br>
        <input type="text" id="datascience" name="datascience" value="0"><br>
        <label for="ML">Machine Learning</label><br>
        <input type="text" id="ML" name="ML" value="0"><br>
        <label for="AI">Artificial Intelligence</label><br>
        <input type="text" id="AI" name="AI" value="0"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>